<div class="btn-group outlining-page__btn-group">
    <a class="outlining-page__dropdown-btn" ng-click="onOutliningClick($event)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Outlining">
        <span class="glyphicon icon--outlining"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-click="onOptionClick($event); collapseQuestions()">Collapse questions</a></li>
        <li><a ng-click="onOptionClick($event); expandQuestions()">Expand questions</a></li>
    </ul>
</div>