<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="SurveysContext" connectionString="#{SURVEYSCONTEXT_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ResponsesContext" connectionString="#{RESPONSESCONTEXT_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TestResponsesContext" connectionString="#{TESTRESPONSESCONTEXT_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ESConnectionString" connectionString="#{ES_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MongoDB" connectionString="#{MONGODB_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="InstrumentationKey" value="52e33829-92c3-4621-9fec-de204bd9205f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SurveyUrl" value="#{SURVEY_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AuthorityUrl" value="#{AUTHORITY_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SurveyCreatorUrl" value="#{SURVEY_CREATOR_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ESSurveyDefaultIndexName" value="#{ES_SURVEY_DEFAULT_INDEX_NAME}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoDBDatabaseName" value="#{MONGODB_DATABASE_NAME}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DomainStorageFile" value="#{AZURE_STORAGE_PATH}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContainerAzureStorage" value="#{CONTAINER_AZURE_STORAGE}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StorageConnectionString" value="#{AZURE_STORAGE_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Logo" value="#{AZURE_STORAGE_PATH}#images/logo.png" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AccessEmailHeaderImage" value="#{AZURE_STORAGE_PATH}#images/background.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>