<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SurveysContext" connectionString="#{SURVEYSCONTEXT_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ResponsesContext" connectionString="#{RESPONSESCONTEXT_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TestResponsesContext" connectionString="#{TESTRESPONSESCONTEXT_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ESConnectionString" connectionString="#{ES_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MongoDB" connectionString="#{MONGODB_CONNECTION_STRING}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="InstrumentationKey" value="cc38774d-86db-4383-ab06-862d7b6e5ab9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SurveyUrl" value="#{SURVEY_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUrl" value="#{API_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AuthorityUrl" value="#{AUTHORITY_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SurveyCreatorUrl" value="#{SURVEY_CREATOR_URL}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ESSurveyDefaultIndexName" value="#{ES_SURVEY_DEFAULT_INDEX_NAME}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoDBDatabaseName" value="#{MONGODB_DATABASE_NAME}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ida:Tenant" value="cxsidentityusb2c.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:ClientId" value="d7b0b96b-83f4-455d-9914-6a9a55e9d508" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:AadInstance" value="https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration?p={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:RedirectUri" value="https://surveys.responsiveinsight.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:SignInPolicyId" value="B2C_1_VIP24_SignUpOrSignIn" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="DomainStorageFile" value="#{AZURE_STORAGE_PATH}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContainerAzureStorage" value="#{CONTAINER_AZURE_STORAGE}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="/Error/Index" xdt:Transform="Replace" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>