<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-surveytool-e2e.orientsoftware.asia/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>IIS16</MSDeployServiceURL>
    <DeployIisAppPath>api-surveytool-e2e.orientsoftware.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ORIENTSOFTWARE\ville.kaipainen</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SurveysContext" Order="1" Enabled="True">
          <Destination Path="Data Source=OSDPRODDB03\OSDPRODDB03;Initial Catalog=e2e_Surveys;Persist Security Info=True;User ID=surveytool;Password=surveytool" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LearningPlatform.Data.EntityFramework.SurveysDb.SurveysContext, LearningPlatform.Data.EntityFramework" MigrationConfiguration="LearningPlatform.Data.EntityFramework.SurveysDb.SurveysContextConfiguration, LearningPlatform.Data.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ResponsesContext" Order="3" Enabled="True">
          <Destination Path="Data Source=OSDPRODDB03\OSDPRODDB03;Initial Catalog=e2e_Responses;Persist Security Info=True;User ID=surveytool;Password=surveytool" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LearningPlatform.Data.EntityFramework.ResponsesDb.ResponsesContext, LearningPlatform.Data.EntityFramework" MigrationConfiguration="LearningPlatform.Data.EntityFramework.ResponsesDb.ResponsesContextConfiguration, LearningPlatform.Data.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ESConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="http://localhost:9200" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ESConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="http://localhost:9200" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TestResponsesContext" Order="5" Enabled="False">
          <Destination Path="Data Source=OSDPRODDB03\OSDPRODDB03;Initial Catalog=e2e_Responses;Persist Security Info=True;User ID=surveytool;Password=surveytool" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LearningPlatform.Data.EntityFramework.ResponsesDb.TestResponsesContext, LearningPlatform.Data.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ESConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ResponsesContext-Web.config Connection String">
      <ParameterValue>Data Source=OSDPRODDB03\OSDPRODDB03;Initial Catalog=e2e_Responses;Persist Security Info=True;User ID=surveytool;Password=surveytool</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SurveysContext-Web.config Connection String">
      <ParameterValue>Data Source=OSDPRODDB03\OSDPRODDB03;Initial Catalog=e2e_Surveys;Persist Security Info=True;User ID=surveytool;Password=surveytool</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestResponsesContext-Web.config Connection String">
      <ParameterValue>Data Source=OSDPRODDB03\OSDPRODDB03;Initial Catalog=e2e_Responses;Persist Security Info=True;User ID=surveytool;Password=surveytool</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>