<form class="form-horizontal svt-push-down__form" role="form" name="emailForm">
    <div class="form-group">
        <div class="col-xs-4 svt-push-down__form-heading">
            <h4 id="compose-message-title">Compose Message</h4>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-11">
            <label class="control-label">{{vm.emailMessage.emailAddress}}</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-8">
            <label for="subject" class="svt-label__ontop label-required">Subject</label>
            <input id="subject" type="text" class="form-control" name="subject" ng-model="vm.emailMessage.subject" autofocus placeholder="{{vm.placeHolders.subject.value}}"
                   ng-class="(emailForm.subject.$invalid && !vm.placeHolders.subject.valid) ? 'input-required' : ''" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-8">
            <label for="emailContent" class="svt-label__ontop label-required">Message</label>
            <div id="emailContent" svt-ckeditor="vm.svtCkeditorConfig" ng-model="vm.emailMessage.content"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-8">
            <div class="pull-right svt-button-group">
                <button id="close-compose-email" type="button" class="btn svt-button--cancel" title="Cancel" ng-click="vm.close()">Cancel</button>
                <button id="send-email" type="button" class="btn svt-button--done" title="Send" ng-click="vm.send()">Send</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
