<p class="description-question" ng-bind-html="question.description.items[0].text | trustAsHtmlFilter"></p>
<div ng-class="gridCtrl.isSingleSelectionGridQuestion ? 'single-selection-grid-display' : 'multiple-selection-grid-display'">
    <table class="table">
        <tbody>
            <tr>
                <td ng-repeat="columnTitle in gridCtrl.columnTitles">
                    <span ng-if="!columnTitle.carryOver" ng-bind-html="columnTitle.value"></span>
                    <span ng-if="columnTitle.carryOver && !columnTitle.isCarryOverError">
                        Carry Over from <strong>{{columnTitle.value | htmlToPlainTextFilter | truncateFilter:30:'...'}}</strong>
                    </span>
                    <span ng-if="columnTitle.carryOver && columnTitle.isCarryOverError" class="question-view__content--error">
                        Carry Over from <strong>{{columnTitle.errorMessage | htmlToPlainTextFilter | truncateFilter:30:'...'}}</strong>
                    </span>
                </td>
            </tr>
            <tr ng-repeat="rowTitle in gridCtrl.rowTitles">
                <td>
                    <span ng-if="!rowTitle.carryOver" ng-bind-html="rowTitle.value"></span>
                    <span ng-if="rowTitle.carryOver && !rowTitle.isCarryOverError">
                        Carry Over from <strong>{{rowTitle.value | htmlToPlainTextFilter | truncateFilter:30:'...'}}</strong>
                    </span>
                    <span ng-if="rowTitle.carryOver && rowTitle.isCarryOverError" class="question-view__content--error">
                        Carry Over from <strong>{{rowTitle.errorMessage | htmlToPlainTextFilter | truncateFilter:30:'...'}}</strong>
                    </span>
                </td>
                <td ng-repeat="index in gridCtrl.columnTitles | limitTo: gridCtrl.columnTitles.length - 1">
                    <input type="radio" ng-readonly="true" ng-if="gridCtrl.isSingleSelectionGridQuestion" />
                    <input type="checkbox" ng-readonly="true" ng-if="!gridCtrl.isSingleSelectionGridQuestion" />
                </td>
            </tr>
        </tbody>
    </table>
</div>