@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>


</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2 id="error-message">Your page contains error(s). To preview your page you need to correct the error(s).</h2>

    </hgroup>

</body>
</html>