<h1 class="survey-form__title">Change Password</h1>

<form class="col-xs-12 col-sm-12 col-md-5 change-password-form" name="changePasswordForm" novalidate ng-submit="vm.changePassword()">
    <div class="form-group">
        <label for="currentPassword">Current Password <i class="survey-form__required-mask">(*)</i></label>
        <input type="password" class="form-control ng-dirty" id="currentPassword" name="currentPassword"
               ng-model="vm.changePasswordModel.CurrentPassword" required>
        <div class="survey-form__error-message" ng-if="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$error.required">
            Current password is required.
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password <i class="survey-form__required-mask">(*)</i></label>
        <input type="password" class="form-control" id="newPassword" name="newPassword"
               ng-model="vm.changePasswordModel.NewPassword" required>
        <div class="survey-form__error-message" ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.required">
            New password is required.
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password <i class="survey-form__required-mask">(*)</i></label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
               ng-model="vm.changePasswordModel.ConfirmPassword" required svt-match-with="newPassword">
        <div class="survey-form__error-message" ng-if="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.required">
            Confirm password is required.
        </div>
        <div class="survey-form__error-message" ng-if="changePasswordForm.confirmPassword.$dirty &&
             !changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$error.svtmatchwith">
            Confirm password must be matched with new password.
        </div>
        <div class="survey-form__error-message" ng-if="vm.validationResult.invalid">{{vm.validationResult.message}}</div>
    </div>
    <div class="form-group pull-right svt-button-group">
        <a class="btn btn-default" href="#/surveys">Cancel</a>
        <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid">Save</button>
    </div>
</form>