<div class="question-editor__question-label">
    <label>{{displayLogic.isTopic ? 'Topics' : 'Options'}}</label>
</div>

<ng-include src="'survey/question/types/selection/selection-option-group-list.html'"></ng-include>

<div ng-class="vm.isSingleSelectionType ? 'add-single-selection-question' : 'add-multiple-selection-question'">
    <div class="form-group addoption__container" ng-if="(question.$type === 'SingleSelectionQuestionDefinition' || question.$type === 'MultipleSelectionQuestionDefinition') && question.id === previewQuestion.id">
        <div class="btn-group">
            <button type="button" class="btn btn-default addoption__item" ng-click="vm.addOption(vm.optionTypes.normalOption)"
                    >Add {{displayLogic.isTopic ? 'topic' : 'Option'}}</button>
            <button type="button" class="btn btn-default dropdown-toggle addoption__item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu addoption__container_group-add-button">
                <li><a ng-click="vm.addGroupOption()">Add Group Header</a></li>
                <li><a ng-click="vm.addGroupEnd()">Add Group End</a></li>
                <li ng-if="displayLogic.canBeAddedOtherQuestion"><a ng-click="vm.addOption(vm.optionTypes.optionHasOtherQuestion)">Add Other Option</a></li>
                <li><a ng-click="vm.addOption(vm.optionTypes.carryOverOption)">Carry Over Options</a></li>
            </ul>
        </div>
    </div>

    <div class="form-group addoption__container" ng-if="previewQuestion.$type !== 'SingleSelectionQuestionDefinition' && previewQuestion.$type !== 'MultipleSelectionQuestionDefinition'">
        <div class="btn-group">
            <button type="button" class="btn btn-default addoption__item" ng-click="vm.addOption(vm.optionTypes.normalOption)"
                    >Add {{displayLogic.isTopic ? ' Topic' : ' Option'}}</button>
            <button type="button" class="btn btn-default dropdown-toggle addoption__item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu addoption__container_group-add-button">
                <li><a ng-click="vm.addOption(vm.optionTypes.carryOverOption)">Add Carry Over</a></li>
            </ul>
        </div>
    </div>
    <div class="alert alert-warning col-md-offset-2 col-md-7" ng-if="vm.isOverloadedOptions()">
        <strong>Unfortunately you can't add more than {{displayLogic.maximumOfOptions}} options to this type of question.</strong>
    </div>
</div>
